.git/
.gitignore
.next/
.prettierrc.json
.vscode/
.yarnrc
_examples_/
data/
docs/
node_modules/
.DS_Store
.env
.env.example
.env.test

Dockerfile
docker-compose.yml
AGENTS.md
CHANGELOG.md
WORK.md
README.md
